#arrazo-wrapper {
  width: 70px;
  height: 50px;
  background-color: transparent;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  position: relative;
  transition: all 0.5s;
}

#arrazo-wrapper::before {
  content: '';
  width: 35px;
  height: 8px;
  position: absolute;
  top: -4px;
  background-color: #ffffff;
  transition: all 0.5s;
}

#arrazo-wrapper a {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

#arrazo {
  height: 40px;
  display: none;

}
#arrazo:target {
  display: block;
}

.azul {
  border: 1px solid #5AE5FB;
}

.roxo {
  border: 1px solid #CBAACB;
}

.rosa {
  border: 1px solid #F3B0C3;
}

.amarelo {
  border: 1px solid #E4FE31;
}

/* Dark Theme */
html[dark] #arrazo-wrapper {
  border: 1px solid #BCB8B8;
}

html[dark] #arrazo-wrapper::before {
  background-color: #484848;
}