.arrazo-wrapper {
  width: 70px;
  height: 50px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  position: relative;
  transition: all 0.5s;
}

.arrazo-wrapper::before {
  content: "";
  width: 35px;
  height: 8px;
  position: absolute;
  top: -4px;
  background-color: #ffffff;
  transition: all 0.5s;
}

.arrazo {
  height: 40px;
  display: block;
}

.azul {
  border: 1px solid #5ae5fb;
}

.roxo {
  border: 1px solid #cbaacb;
}

.rosa {
  border: 1px solid #f3b0c3;
}

.amarelo {
  border: 1px solid #e4fe31;
}

/* Dark Theme */
html[dark] .arrazo-wrapper {
  border: 1px solid #bcb8b8;
}

html[dark] .arrazo-wrapper::before {
  background-color: #484848;
}
