header {
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 7.5vw;
}

h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 28px;
  color: #ff7ea3;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
}

/* Dark Theme */
html[dark] h1 {
  color: #e4fe31;
}

/* Media Query */
@media (min-width: 320px) and (max-width: 425px) {
  h1 {
    width: 120px;
    font-size: 20px;
    letter-spacing: 3px;
    margin-left: 26px;
  }
}
